$black: #1f2937;
$white: #eae5e5;
$gray: #6b7280;
$purple: #3730a3;
$purple-hard: #4338ca;

@mixin indent($t,$r,$b,$l) {
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}
@mixin size($w,$h) {
    width: $w;
    height: $h;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}
body.dark {
    background: #202020;
    .title {
        color: $white;
    }
    .careers__body {
        .careers__columns {
            .careers__item {
                span {
                    color: white;
                }
            }
        }
    }
}
.container {
    margin: 0 auto;
    width: 1180px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    @include size(131px, 52px);

    background: transparent;
    border: 1px solid $purple;
    box-sizing: border-box;
    border-radius: 6px;

    font-weight: 500;
    font-size: 18px;
    color: $purple;

    transition: all 0.4s linear;

    &:hover {
        background: $purple;
        color: #fff;
    }
}
.title {
    font-weight: 600;
    font-size: 48px;
    color: $black;
}
.suptitle {
    font-size: 18px;
    color: $gray;
}
.header {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 67px 0px 0px 0px;
    }
    &__logo {
        padding: 0px 0px 0px 16px;
        transform: rotate(30deg);
        color: #7b61ff;

        font-weight: 600;
        font-size: 24px;
        line-height: 32px;

        transition: transform .5s;
        &:hover {
            transform: rotate(1deg);
        }
    }
    &__nav {
        display: flex;
        align-items: center;

        color: $gray;
        a:not(:last-child) {
            margin: 0px 80px 0px 0px;

            font-weight: 500;
            font-size: 18px;
            color: $gray;

            transition: color 0.3s;

            &:not(:last-child):hover {
                color: #7b61ff;
            }

        }
        .dark-mode {
            position: relative;
            display: inline-block;
            @include size(80px, 40px);
            input {
                display: none;
            }
            #sliderThemeBtn {
                position: absolute;
                cursor: pointer;
                @include indent(0, 0, 0, 0);
                background-color: #ccc;
                border-radius: 34px;
                transition: all .4s;
                &::before {
                    content: '';
                    @include size(30px, 30px);
                    @include indent(5px, 5px, 5px, 5px);
                    position: absolute;
                    background-color: #fff;
                    transition: .4s;
                    border-radius: 50px;
                }
            }
            input:checked + #sliderThemeBtn {
                background-color: #33b750;
                &::before {
                    @include indent(5px, 5px, 5px, 45px);
                }
            }
        }
    }
}
.intro {
    &__body {
        display: flex;
        justify-content: space-between;

        padding: 189px 0px;
        .intro__text {
            padding: 20px 0px 0px 0px;
        }
    }
    &__subtitle {
        display: flex;

        font-weight: 500;
        font-size: 20px;
        color: $purple-hard;
        &::before {
            content: '';
            @include size(102px, 0px);
            margin: 10px;

            border: 1px solid $purple-hard;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 72px;

        margin: 40px 0px;
    }
    &__suptitle {
        width: 553px;
    }
    &__btn-row {
        display: flex;
        margin: 40px 0px;
    }
    &__btn:last-child {
        width: 157px;
        margin: 0px 0px 0px 20px;
    }
    &__btn:first-child {
        background: $purple;
        color: #fff;
        &:hover {
            background: transparent;
            color: $purple;
        }
    }
    span {
        font-size: 12px;
        color: $gray;
    }
}
.ideas {
    &__title {
        text-align: center;
        width: 1039px;
        margin: 0 auto;
        span {
            color: $purple;
        }
    }
    &__body {
        display: flex;
        padding: 150px 0px 250px 0px;
    }
    &__columns {
        display: flex;
        justify-content: space-between;
    }
    &__column {
        padding: 45px 0px 0px 50px;
        &:last-child {
            padding: 45px 0px 0px 68px;
        }
    }
    &__item {
        &:not(:first-child) {
            padding: 68px 0px 0px 0px;
        }
        a {
            display: flex;

            font-weight: 500;
            font-size: 12px;
            color: $purple;

            background: url(../img/icons/arrow.svg) 67px no-repeat;

            transition: translate .5s;
            &:hover {
                transform: translate(5px, 0px);
            }
        }
    }
    &__suptitle {
        font-size: 12px;
        padding: 20px 0px 20px 0px;
    }
    &__name {
        font-size: 18px;
    }
}
.trusted {
    &__body {
        padding: 20px 0px 250px 0px;
        .trusted__title {
            font-size: 20px;
            color: #9ca3af;
        }
    }
    &__images-row {
        display: flex;
        justify-content: space-between;
        a {
            svg {
                @include size(157px, 51px);

                fill: #b4a6a2;

                transition: fill .3s;
                &:hover {
                    fill: #f26a6a;
                }
            }
        }
    }
}
.best-feed {
    &__body {
        padding: 0px 0px 150px 0px;
        .best-feed__title {
            text-align: center;
            margin: 0 auto;
            width: 1039px;
        }
    }
    &__images {
        padding: 115px 0px 150px 0px;
        img {
            padding: 30px 30px 0px 0px;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        text-align: center;
    }
    &__name {
        font-size: 30px;
        padding: 40px 0px 20px 0px;
    }
    &__suptitle {
        color: #9ca3af;
    }
}
.careers {
    &__title {
        text-align: center;
    }
    &__columns {
        display: flex;
    }
    &__column:not(:last-child) {
        padding: 0px 315px 0px 0px;
    }
    &__name {
        margin: 150px 0px 0px 0px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__item {
        padding: 80px 0px 0px 0px;
        font-size: 16px;
        span {
            font-weight: 600;
            color: $black;
        }
    }
}
.contact {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 261px 0px 110px 0px;
    }
    &__text {
        text-align: center;
    }
    &__suptitle {
        padding: 20px 0px 100px 0px;
    }
    &__social-row {
        display: flex;
        svg {
            @include size(35px, 35px);

            fill: none;
            stroke: #6b7280;
            stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;

            transition: stroke .3s;
            &:hover {
                stroke: #f26a6a;
            }
        }
        a:not(:first-child) {
            padding: 0px 0px 0px 50px;
        }
    }
}
